# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.env/
.venv/
env/
venv/

# VSCode / PyCharm / JetBrains IDE
.idea/
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log and result folders
log/
logs/
outputs/
runs/
/main/pw/train_analysis/
/main/pw/saved_model/
/main/hw/saved_model/
/main/hw/train_analysis/

# Dataset and intermediate results
dataset/
*.bin
*.json
*.csv
*.tsv
*.h5
*.npy
*.npz
*.txt

# Model files
*.pt
*.pth
*.ckpt
*.onnx

# OS-specific files
.DS_Store
Thumbs.db

# Others
*.egg-info/
build/
dist/
